.button {
  border: none;
  border-radius: 8px;
  padding: 16px;
}

.button:hover {
  background-color: var(--color-secondary);
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
