.search-bar-container {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  overflow: hidden;
}

.search-bar {
  padding: 10px 20px;
  background-color: var(--color-secondary);
  display: flex;
  width: 100%;
  grid-template-columns: 1fr 24px;
  gap: 8px;
  align-items: center;
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  flex: 1;
}

.search-bar__button {
  border: none;
  background-color: transparent;
}

.search-bar__clear-button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-bar__clear-button--hidden {
  display: none;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 24px;
}
